<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>Pokemon</title>
    <link rel="icon" type="image/x-icon" href="./favicon.png">
    <script>
        function queryData(attribute) {
            // 发送AJAX请求到后端接口/pokemon，并传递attr参数
            // 在接收到响应后，将内容显示在页面上
            // 这里只是一个示例，你需要根据实际情况进行修改
            fetch('/pokemon?attr=' + attribute)
                .then(response => response.json())
                .then(data => {
                    let resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = JSON.stringify(data);
                })
                .catch(error => console.error(error));
        }
    </script>
</head>
<body>
<!-- 生成按钮 -->
<div>
    <button onclick="queryData('虫')"><a>虫</a></button>
    <button onclick="queryData('恶')">恶</button>
    <button onclick="queryData('龙')">龙</button>
    <button onclick="queryData('电')">电</button>
    <button onclick="queryData('妖精')">妖精</button>
</div>

<!-- 显示查询结果的区域 -->
<div id="result"></div>
</body>
</html>